packages: [
  ".bin"
  "advanced-open-file"
  "angularjs"
  "atom-html-preview"
  "atom-live-server"
  "atom-typescript"
  "emmet"
  "linter"
  "package-sync"
  "terminal-panel"
  "color-picker"
  "git-plus"
  "keyboard-localization"
  "tree-view-git-branch"
]
